@model Samurai.Domain.Samurai

@{
	ViewData["Title"] = "Details";
}

<h1>Details</h1>
<table class="table table-responsive">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Name)
		</th>
		<th>@Html.DisplayNameFor(model => model.SecretIdentity.RealName)</th>
	</tr>
	<tr>
		<td>@Html.DisplayFor(model => model.Name)</td>
		<td>@Html.DisplayFor(model => model.SecretIdentity.RealName)</td>
	</tr>
</table>
<hr />
<div>
	<h4>Quotes</h4>
	<a asp-action="Create" asp-controller="Quotes">Create New</a>
	<ul>
		@foreach (var q in Model.Quotes)
		{
			<li>@q.Text</li>
		}
	</ul>

</div>

<hr />
<div>
	<h4>Battles</h4>
	<a asp-action="AddToBattle" >Add to Battle</a>
	<ul>
		@foreach (var b in Model.SamuraiBattles)
		{
			<li>@b.Battle.Name</li>
		}
	</ul>

</div>
<div>
	<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
	<a asp-action="Index">Back to List</a>
</div>
